.container{
    align-content: center;
    text-align: center;
    width: 35vw;
  }
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .item {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .item img {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .coupon button {
    height:50px;
    width: 200px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .coupon button:hover {
    background-color: #00cc44;
  }
  
  .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .total p {
    margin: 0;
  }
  .dollar{
    margin: 10px;
  }
  .quantity{
    margin: 10px;
  }
  
  